body {
  font-family: 'Arial', sans-serif;
  padding-top: 70px;
  background-color: #121212;
  color: #e0e0e0;
}

.navbar {
  margin-bottom: 0;
  background-color: #1c1c1c;
  border-color: #333;
}

.navbar-brand {
  color: #e0e0e0 !important;
}

.navbar-nav > li > a {
  color: #e0e0e0 !important;
}

.navbar-nav > li > a:hover {
  color: #ffffff !important;
}

.home-section, .about-section, .work-section, .publications-section, .skills-section, .education-section, .accomplishments-section, .contact-section {
  padding: 60px 0;
  background-color: #1c1c1c;
}

.profile-pic {
  max-width: 80%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  --f: .1; /* parallax factor (the smaller the better) */
  --r: 30px; /* the radius */

  --_f: calc(100%*var(--f)/(1 + var(--f)));
  --_a: calc(90deg*var(--f));

  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) translateX(0px) rotateY(var(--_a));
  transition: .5s;

}
.profile-pic:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  transform: perspective(400px) translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)));
}

.tagline {
  font-size: 1.5em;
  color: #aaaaaa;
}

.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #555;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline-item:before, .timeline-item:after {
  content: "";
  display: table;
}

.timeline-item:after {
  clear: both;
}

.timeline-item .timeline-date {
  position: absolute;
  width: 100px;
  text-align: right;
  left: 50%;
  top: 30px;
  margin-left: -125px;
  color: #aaaaaa;
}

.timeline-item .timeline-content {
  margin-left: 100px;
  background: #2c2c2c;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.timeline-item .timeline-content h3 {
  margin-top: 0;
  color: #ffffff;
}

.timeline-item .timeline-content p {
  color: #cccccc;
}

.footer {
  background: #1c1c1c;
  padding: 20px 0;
  text-align: center;
  color: #aaaaaa;
  margin-top: 40px;
}

.footer a {
  color: #337ab7;
}

@media (max-width: 768px) {
  .timeline:before {
      left: 8%;
  }
  
  .timeline-item .timeline-date {
      text-align: left;
      left: 0;
      margin-left: 0;
      top: -15px;
  }
  
  .timeline-item .timeline-content {
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
  }
}

.skills-section {
  padding: 10px 0;
  color: #fff;
}

.skills-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #fff;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  font-size: 1.2em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.skill-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #1c1c1c;
  border-radius: 1px;
  overflow: hidden;
}

.progress {
  height: 15px;
  background-color: #A5FFC9;
  border-radius: 5px;
  width: 0;
  transition: width 1s ease-in-out;
}

.skills-list li:hover .progress {
  width: 100%;
}

@media (max-width: 768px) {
  .skills-list li {
      font-size: 1em;
      
  }
  .navbar {
    display: none;
}
}
